.header {
max-width: 64rem;
margin: auto;
text-align: center;    
    .header__under-title {
        font-family: $kaushan; font-size: 1.5rem;
        padding: 1.5rem 0;
    }
    .header__title {
        font-family: $montserratBold; font-size: 1.875rem;
        text-transform: uppercase;
        &:after {
            content: "";
            display: block;
            width: 3.75rem; height: .1875rem;
            margin: 2rem auto;
            background-color: $red;
        }
    }
}