.header {
text-align: center;    
    .header__undertitle {
        font: 1.5rem $kaushan;
    }
    .header__title {
        font: 1.875rem $montserratBold;
        text-transform: uppercase;
    }
    
}