$white: #fff;
$black:#333333;
$grey: #999999;
$blue: #95e1d3;
$red: #f38181;
$yellow: #fce38a;

$kaushan: 'kaushan_scriptregular';
$montserratBold: 'montserratbold';
$montserratLight: 'montserratlight';
$montserratRegular: 'montserratregular';
$robotoLight: 'robotolight_italic';

* {
    box-sizing: border-box;
    color: $black;
}

html, body {
    height: 100%;
    font-family: $montserratRegular; 
    @media screen and ( max-width: 1024px ) {
        font-size: 15px;
    }
    @media screen and ( max-width: 768px ) {
        font-size: 14px;
    }
    @media screen and ( max-width: 480px ) {
        font-size: 12px;
    }
}

.section {
    display: flex;     
    min-height: 100vh;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%; max-width: 75rem;
    min-height: 100vh;
    margin: 0 auto;
}

.wrap__cont {
    width: 100%;
    min-height: 650px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
    li {
        list-style: none;
    }
}

p {
    margin: 0;
    font-size: .875rem; line-height: 1.5rem;
    color: $grey;
}

a {
    text-decoration: none;
}

