.fact__list {
    padding: 4rem 0;
    background-color: $blue;
}

.fact__list {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.fact__count {
    span {
        display: inline-block;
        width: 100%;
        color: $white;
    }
}

.fact-count__val {
    font-family: $montserratBold; font-size: 4.5rem;
    @media screen and ( max-width: 768px ) {
        font-size: 3rem;
    }
    @media screen and ( max-width: 480px ) {
        font-size: 2.7rem;
    }
}

.fact-count__name {
    font-size: .875rem;
    text-transform: uppercase;
    @media screen and ( max-width: 480px ) {
        font-size: .5rem;
    }
}