.hero {
    position: relative;
    height: 100%;
    background: url( ../image/hero/hero__banner.png ) no-repeat center / cover;
    z-index: 0;
    &:after {
        content: "";
        position: absolute;
        top: 0; left: 0;
        display: block;
        width: 100%; height: 100%;
        background: url( ../image/hero/hero__banner-grad.png ) no-repeat center / cover;
        opacity: .9;
        z-index: -1;
    }

    .container {
        flex-wrap: wrap;
        align-items: flex-start;
    }
}

.hero__header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding: 1rem 0;
}

.hero-header__logo {
    flex: 2;
}

.hero-logo__logo {
    a {
        font-family: $montserratBold; font-size: 1.875rem;
        color: $white;
        transition: all .5s;
        &:hover {
            color: $yellow;
        }
    }
}

.hero-nav__list {
    cursor: default;
    @media screen and ( max-width: 768px ) {
        display: none;
    }
}

.hero-list__item {
    display: inline-block;
    vertical-align: middle;
}

.hero-list__item {
    padding: 0 2rem;
    @media screen and ( max-width: 1024px ) {
        padding: 0 1.5rem;
    }  
}

.hero-item__link {
    padding: 1.5rem 0;
    font-size: .875rem;
    text-transform: uppercase;
    color: $white;
    transition: all .5s;
    &:hover {
        padding: .75rem 0;
        border-bottom: .1875rem solid $yellow;
        color: $yellow;
    }
}

.hero__menu {
    display: none; 
    span {
        display: block;
        width: 20px; height: 3px;
        border-radius: 15px;
        margin: 3px 0;
        background-color: rgba( $white,.7 );
        transition: all .5s;
    }
    &:hover {
        span {
            background-color: $white;
        }
    }
    @media screen and ( max-width: 768px ) {
        display: inline-block;
    }
}

.hero-aside__link {
    display: inline-block;
    width: .875rem; height: .875rem;
    vertical-align: middle;
    &:not(:last-child) {
        margin: 0 2rem;
    }
}

.hero-aside__link {
    img {
        opacity: .7;
    }

    &:hover {
        img {
            opacity: 1;
        }
    }
}

.hero__main {
    max-width: 50rem;
    text-align: center;
}

.hero-main__header {    
    .header__under_title {
        font-family: $kaushan; font-size: 4.5rem;
        color: $white;
        @media screen and ( max-width: 768px ) {
            font-size: 2.5rem;
        }
    }
    .header__title {
        padding: 1rem 0;
        font-family: $montserratBold; font-size: 7.75rem;
        text-transform: uppercase;
        color: $white;
        @media screen and ( max-width: 768px ) {
            padding: .5rem 0;
            font-size: 3.75rem;
        }
    }
}

.hero-main__header {
    .header {
        &:after {
            content: "";
            display: inline-block;
            width: 3.75rem; height: .1875rem;
            background-color: $white;
        }
    }
}

.hero-main__header {
    &:after {
        content: "";
        display: inline-block;
        width: 3.75rem; height: .1875rem;
        background-color: $white;
    }
}

.hero-main__button {
    display: inline-block;
    padding: .75rem 2rem .625rem 2rem;
    border: .1875rem solid rgba( $white,.7 );
    margin: 2.625rem 0;
    font-family: $montserratBold; font-size: .875rem;
    text-transform: uppercase;
    color: rgba( $white,.7 );
    transition: all .5s;
    &:hover {
        border-color: $white;
        color: $white;
    }
}

