.quote__container  
{
    position: relative;
    max-width: 75rem;
    margin: auto;
}

.quote__carousel 
{
    max-width: 75%;
    padding: 4rem 0;
    margin: auto;
    overflow-x: hidden;
    @media screen and ( max-width: 480px ) {
        max-width: 95%;
    }
}

.quote-carousel__wrap 
{
    display: flex;  
    transition: transform 1s;
    will-change: transform;
}

.quote-carousel__no_active 
{
    transition: initial !important;
}

.quote-carousel__slide 
{
    flex: 0 0 100%;
    will-change: opacity;
}

.quote-carousel__slide 
{
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and ( max-width: 480px ) {
        flex-direction: column;
        text-align: center;
    }
}

.quote-slide__figure 
{
    padding: 32px 32px 28px 32px;
    border: 3px solid $blue;
}

.quote-slide__cont 
{
    width: 65%;
    margin-left: 2rem;
    @media screen and ( max-width: 480px ) {
        margin: 0;
    }
}

.quote-slide__comm 
{
    padding: 1rem 0;
    font-family: $robotoLight; font-size: 1rem;
    line-height: 1.5rem;
}

.quote-slide__author 
{
    font-family: $kaushan; font-size: 1.5rem;
}

.quote-carousel__arrow 
{
    position: absolute;    
    top: 45%;
    z-index: 0;
    & > img {
        cursor: pointer;
        z-index: 1;
    }
}


.quote-carousel__arrow-left 
{
    left: 5%;
}

.quote-carousel__arrow-right 
{
    right: 5%;
}