.team__list {
    display: flex;
    justify-content: center;
    padding: 4.5rem 0;
    @media screen and ( max-width: 480px ) {
        flex-direction: column;
        align-items: center;
    }  
}

.team-list__item {
    position: relative;
    width: 30%; 
    margin: 0 .75rem;
    text-align: center;
    @media screen and ( max-width: 768px ) {
        margin: 0 .35rem;
    }
    @media screen and ( max-width: 480px ) {
        width: 85%;
        margin-bottom: 32px;
    }
}

.team-item__bg {
    height: 28.125rem;
    will-change: transform;
    background-color: $blue;
    @media screen and ( max-width: 768px ) {
        height: 16.125rem;
    }
}

.team-item__hover {
    height: 100%;
}

.team-item__cont {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    opacity: 0;
    will-change: opacity;
    z-index: 0;
}

.team-item__cont:after {
    content: "";
    position: absolute;
    top: 0; left: 0;
    display: block;
    width: 100%; height: 100%;
    background: url( '../image/team/grad.png' ) no-repeat center / cover;
    opacity: .9;
    z-index: -1;
}

.team-item__social:after {
    content: "";
    display: block;
    clear: both;
}

.team-item__social-link {
    float: left;
    width: 50px; height: 50px;
    background-color: $yellow;
}

.team-item__social {
    .team-item__social-link {
        transition: all .5s linear;
    }
    .team-item__facebook {
        background: $yellow url('../image/sprite/social-sprites.png') 10px -38px;
        &:hover {
            background: $red url('../image/sprite/social-sprites-hover.png') 10px -38px;
        }
    }
    .team-item__twitter {
        background: $yellow url('../image/sprite/social-sprites.png') 6px 6px;
        &:hover {
            background: $red url('../image/sprite/social-sprites-hover.png') 6px 6px;
        }
    }
    .team-item__pinterest {
        background: $yellow url('../image/sprite/social-sprites.png') 7px -131px;
        &:hover {
            background: $red url('../image/sprite/social-sprites-hover.png') 7px -131px;
        }
    }
    .team-item__instagram {
        background: $yellow url('../image/sprite/social-sprites.png') 5px -84px;
        &:hover {
            background: $red url('../image/sprite/social-sprites-hover.png') 5px -84px;
        }
    }
}

.team-list__item {
    &:hover {
        .team-item__hover {
            transform: translate(-5px,-5px);
            transition: all .5s linear;
        }

        .team-item__cont {
            opacity: 1;
            transition: all .5s linear;
        }
    }
}

.team-item__title {
    padding: 1.5rem 0 .25rem 0;
    font-family: $montserratRegular; font-size: .875rem;
    text-transform: uppercase;
}

.team-item__name {
    font-family: $robotoLight; font-size: .9375rem;
    color: $grey;
}