.test-container__carousel {
    position: relative;
    max-width: 75rem;
    margin: auto;
}

.test__carousel {
    max-width: 75%;
    padding: 2rem 0;
    margin: auto;
    overflow-x: hidden;
    @media screen and ( max-width: 480px ) {
        max-width: 95%;
    }
}

.test-carousel__wrap {
    display: flex;  
    transition: transform 1s;
    will-change: transform;
}

.test-carousel__no-active {
    transition: initial !important;
}

.test-carousel__no-active {
    transition: initial;
}

.test-carousel__slide {
    flex: 0 0 100%;
    will-change: opacity;
}

.test-carousel__slide {
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and ( max-width: 480px ) {
        flex-direction: column;
        text-align: center;
    }
}

.test-slide__img {
    margin-right: 2rem;
    @media screen and ( max-width: 480px ) {
        margin: 0;
    }
}

.test-slide__img-wrap {
    width: 10.25rem; height: 10.25rem;
    border-radius: 50%;
    overflow: hidden;
}

.test-slide__pic {
    max-width: 100%;
    transform: scale( 2 );
}

.test-slide__cont {
    width: 65%;
}

.test-cont__comm {
    padding: 1rem 0;
    font-family: $robotoLight; font-size: 1rem;
    line-height: 1.5rem;
}

.test-cont__author {
    font-family: $kaushan; font-size: 1.5rem;
}

.test-carousel__arrow {
    position: absolute;    
    top: 45%;
    z-index: 0;
    & > img {
        cursor: pointer;
        z-index: 1;
    }
}


.test-carousel__arrow-left {
    left: 5%;
}

.test-carousel__arrow-right {
    right: 5%;
}